// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~vue-snotify/styles/material";

.router-link-exact-active {
  background-color: #e91e63;
  color: #fff !important;
}