<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                    <h3 class="card-title">Bank Account List</h3>
                    <div class="card-tools">
                        <button style="color: #fff;" class="btn btn-primary" @click="reload">Reload <i class="fa fa-retweet-alt"></i></button>
                        <button style="color: #fff;" class="btn btn-success" @click="create">Add User <i class="fa fa-user-plus"></i></button>
                    </div>
                    
                </div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr align="center">
                              <th>Sl.</th>
                              <th>Account Name</th>
                              <th>Bank</th>
                              <th>Account No</th>
                              <th>Branch</th>
                              <th>Account Type</th>
                              <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>                
                            <tr align="center" v-for="(bankAccount , index) in bankAccounts">
                              <td>{{index+1}}</td>
                              <td>{{bankAccount.account_name}}</td>
                              <td>{{bankAccount.bank.name}}</td>
                              <td>{{bankAccount.account_no}}</td>
                              <td>{{bankAccount.branch}}</td>
                              <td>
                                <button v-if="bankAccount.account_type===1" class="btn btn-info btn-sm">Saving</button>
                                <button v-else-if="bankAccount.account_type===2" class="btn btn-info btn-sm">Current</button>
                                <button v-else-if="bankAccount.account_type===3" class="btn btn-info btn-sm">Join</button>
                                <button v-else class="btn btn-danger btn-sm">Not Define</button>
                              </td>
                              <td>
                                <button class="btn btn-success btn-sm" @click="edit(bankAccount)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" @click="deleteBankAccount(bankAccount)"><i class="fa fa-trash"></i></button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{editMode ? 'Update':'Add New'}} Bank Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? update():store()">
                        <div class="modal-body">
                            <alert-error :form="form" message="There were some problems with your input."></alert-error>
                            <div class="form-group">
                              <label>Account Name</label>
                              <input v-model="form.account_name" type="text" name="account_name"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('account_name') }">
                              <has-error :form="form" field="account_name"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Bank</label>
                                <select v-model="form.financial_organization_id" name="financial_organization_id" class="form-control" 
                                :class="{ 'is-invalid': form.errors.has('financial_organization_id') }">
                                <option value="">Select Bank</option>
                                    <option v-for="bank in banks" 
                                        :value="bank.id">{{ bank.name }} </option>
                                </select> 
                                <has-error :form="form" field="financial_organization_id"></has-error>
                            </div>

                            <div class="form-group">
                              <label>Account No.</label>
                              <input v-model="form.account_no" type="text" name="account_no"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('account_no') }">
                              <has-error :form="form" field="account_no"></has-error>
                            </div>

                            <div class="form-group">
                              <label>Branch</label>
                              <input v-model="form.branch" type="text" name="branch"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('branch') }">
                              <has-error :form="form" field="branch"></has-error>
                            </div>

                            <div class="form-group">
                              <label>Account Type</label>
                              <select v-model="form.account_type" type="text" name="account_type"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('account_type') }">
                                <option value="">Select Account Type</option>
                                <option value="1">Saving</option>
                                <option value="2">Current</option>
                                <option value="3">Join</option>
                              </select>
                              <has-error :form="form" field="account_type"></has-error>
                            </div>

                            <div class="form-group">
                              <label>Swift Code</label>
                              <input v-model="form.swift_code" type="text" name="swift_code"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('swift_code') }">
                              <has-error :form="form" field="swift_code"></has-error>
                            </div>

                            <div class="form-group">
                              <label>Route No</label>
                              <input v-model="form.route_no" type="text" name="route_no"class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('route_no') }">
                              <has-error :form="form" field="route_no"></has-error>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button :disabled="form.busy" type="submit" class="btn btn-primary">{{editMode ? 'Update':'Add New'}} Bank Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
          this.getBankAccountData()
          this.getBankData()
            console.log('Component mounted.')
        },

        data(){
          return {
            bankAccounts: [],
            banks: [],
            editMode: false,
            form : new Form({
              id: '',
              account_name: '', 
              financial_organization_id: '', 
              account_no: '', 
              branch: '', 
              account_type: '', 
              swift_code: '', 
              route_no: '', 
            }),
          }
        },

        methods: {
          getBankAccountData(){
                this.$Progress.start()
                axios.get('api/bankAccounts')
                .then(response=>{
                    this.bankAccounts = response.data
                    this.$Progress.finish()
                })
                .catch(e=>{
                    console.log(e)
                    this.$Progress.fail()
                })
            },
            getBankData(){
                axios.get('api/financialOrganizations')
                .then(response=>{
                    this.banks = response.data
                })
                .catch(e=>{
                    console.log(e)
                })
            },
            
            reload(){
              this.getBankAccountData();
              this.$snotify.success('Successfully data refresh','Success')
            },

            create(){
              this.editMode = false
              this.form.reset()
              this.form.clear()
              $('#addModal').modal('show')
            },

            store(){
              this.$Progress.start() 
                this.form.post('api/bankAccounts')
                .then(response=>{
                    this.getBankAccountData()
                    $('#addModal').modal('hide')
                    if(this.form.successful){
                        this.$Progress.finish()
                        this.$snotify.success('Successfully data Added','Successfully')
                    }else{
                        this.$Progress.fail()
                        this.$snotify.error('Something went wrong please try again later','Error')
                    }
                })
                .catch(e=>{
                    this.$Progress.fail()
                    console.log(e)
                })
            },

            edit(bankAccount){
              this.editMode = true;
              this.form.reset()
              this.form.clear()
              this.form.fill(bankAccount)
              $('#addModal').modal('show');
            },

            update(){
              this.$Progress.start() 
                this.form.put('api/bankAccounts/'+this.form.id)
                .then(response=>{
                    this.getBankAccountData()
                    $('#addModal').modal('hide')
                    if(this.form.successful){
                        this.$Progress.finish()
                        this.$snotify.success('Successfully data Update','Successfully')
                    }else{
                        this.$Progress.fail()
                        this.$snotify.error('Something went wrong please try again later','Error')
                    }
                })
                .catch(e=>{
                    this.$Progress.fail()
                    console.log(e)
                })
            },

            deleteBankAccount(bankAccount){
              this.$snotify.clear()
                this.$snotify.confirm('You will not be able to Delete This Data','Are You Sure?',{
                  showProgressBar: false,
                  closeOnClick: false,
                  pauseOnHover: true,
                  buttons:
                  [
                    {
                      text: "Yes",
                      action: toast => {
                        this.$snotify.remove(toast.id);
                        axios.delete("api/bankAccounts/"+bankAccount.id)
                        .then(response => {
                          this.$snotify.success("Bank Account Successfully Deleted", "Success");
                          this.getBankAccountData();
                        })
                        .catch(e => {
                          console.log(e);
                        });
                      },
                      bold: true
                    },
                    {
                      text: "No",
                      action: toast => {
                        this.$snotify.remove(toast.id);
                      },
                      bold: true
                    }
                  ]
                });
            }
        

        } //Methos End

        

    }
</script>
